.nav {
  padding: 1em;
  background-color: var(--color-primary);
}

.nav a {
  padding: .5rem;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

.nav li:hover {
  background-color: var(--color-whatever);
  border: var(--color-whatever);
}

.logo {
  display: inline-block;
  max-width: 8em;
}

.nav h1 {
  color: white;
}
