.banner {
  position: relative;
}

img {
  width: 100%;
  background-size: cover;
}

.banner .btn-standard {
  border-color: #fff;
  background-color: var(--color-primary-light);
  transform: translateY(-300%) translateX(195%);
}

.banner .btn-standard:hover {
  border-color: #fff;
  background-color: var(--color-whatever);

  color: #fff;
}
