footer {
  color: #fff;
  background-color: var(--color-primary);
}

h5,
.copyright {
  color: #fff;
}

.copyright {
  text-align: center;
}

.icon {
  text-align: left;
}

@media only screen and (min-width: 60em) {

  .icon {
    float: right;
  }

}
