

.error-message {
  display: none;
  background-color: #fee;
}

.is-validated input:invalid, .is-validated input[type="checkbox"]:invalid + label::before {
  border-color: var(--color-secondary);
}

.is-validated > .error-message:first-child, .is-validated input:invalid + .error-message, .is-validated input:invalid + label + .error-message {
  display: block;
}

.error-message-highlighted {
  color: #fff;
}

.is-validated input:invalid,
.is-validated textarea:invalid,
.is-validated select:invalid,
.is-validated input[type="checkbox"]:invalid + label::before {
  border-color: #f33;
}

.is-validated > .error-message:first-child,
.is-validated input:invalid + .error-message,
.is-validated select:invalid + .error-message,
.is-validated textarea:invalid + .error-message,
.is-validated input:invalid + label + .error-message {
  display: block;
}
