:root {
  --color-primary: #9ec3d3;
  --color-secondary: #4c4442;
  --color-accent: #ebe5dd;
  --color-whatever: #1e3649;

  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Tinos", serif;
}

html {
  font-family: var(--font-primary);
}

h1, h2, h3, h4, h5, h6 {
  color: #9ec3d3;
  font-weight: bold;
  font-family: var(--font-primary);
}

p {
  color: #e2e2e2;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

ul, dl, ol {
  color: #e2e2e2;
  list-style-type: none;
  text-decoration: none;
}

li {
  list-style-type: none;
  font-weight: bold;
}

blockquote, cite, q {
  color: #9bcccc;
}
